<body>
  <%- include('elements/header'); -%>
  <main>
    <section>
      <div class="section-games mb-100">
        <div class="row">
        <% products.forEach(function(product) { %>
        <div class="col-1-of-3">
        <div class="page  border mb-100">
            <form method="POST" action="/add" enctype="multipart/form-data">
                
                    <input 
                        type="hidden" 
                        value="<%=product.id_product%>" 
                        name="id" />

                    <input
                    type="hidden"
                    value="<%=product.id_clients%>"
                    name="id_clients"
                    />
                    

                <div class="add--form__group field mb-20">
                    <input
                    class="add--form__field"
                    type="input"
                    value="<%=product.title%>"
                    name="title"
                    />
                    <label for="title" class="add--form__label mb-20">Tytuł</label>
                </div>

                <div class="demo">
                    <div class="dropdown-container">
                        <select
                            name="id_types" 
                            value="<%=product.id_types%>">
                            <% types.forEach(function(type){ %>
                                <option <%if(product.id_types === type.id_types) {%> selected <% }%> value="<%= type.id_types %>"><%= type.name %></option>
                                <% }) %>
                        </select>
                        <div class="select-icon">
                            <svg focusable="false" viewBox="0 0 104 128" width="20" height="30" class="icon">
                            <path d="m2e1 95a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm14 55h68v1e1h-68zm0-3e1h68v1e1h-68zm0-3e1h68v1e1h-68z"></path>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="add--form__group mb-20">
                    <input 
                        class="add--form__field field" 
                        name="description" 
                        value="<%=product.description%>"      
                    />
                    <label for="description" class="add--form__label mb-20">Opis</label>
                </div>

                <div class="add--form__group mb-20 ">
                    <input 
                        class="add--form__field field" 
                        type="number" 
                        name="price" 
                        value="<%=product.price%>"
                        />
                    <label for="price" class="add--form__label mb-20">Cena</label>
                </div>

                <div class="picture-div mb-25">
                    <a class="">
                      <img
                        src="/img/upload/<%=product.img_src%>"
                        alt="Picture Of Product"
                        class="picture"
                    /></a>
                    &nbsp;
                  </div>

                <div class="container-upload mb-20">
                    <div class="parent-div">
                        <button class="btn-upload">Wybierz Plik</button>
                        <input type="file" name="img_src" value="<%=product.img_src%>"/>
                    </div>
                </div>

                <div class="card__btn mb-10">

                    <button 
                        class="btn btn--green mr-30" 
                        type="button" onclick="remove(this)" 
                        data-id="<%=product.id_product%>"
                        >Usuń
                    </button>

                    <button 
                        class="btn btn--green" 
                        type="submit" 
                        id="edit-btn" 
                        >Edytuj
                    </button>

                </div>
            </form>
        </div>
        </div>
            <% }) %>
        </div>


        <div class="add border">
            <form method="POST" action="/add" enctype="multipart/form-data">  
                <input name="id" type="hidden" value="<%=saving.id%>"/>

                <div class="add--form__group field mb-20">
                    <input
                    class="add--form__field"
                    type="input"
                    value="<%=saving.title%>"
                    name="title"
                    placeholder="Tytuł"
                    />
                    <label for="title" class="add--form__label mb-20">Tytuł</label>
                </div>

                <div class="demo">
                    <div class="dropdown-container">
                        <select
                            name="id_types" 
                            value="<%=saving.type%>">
                                <% types.forEach(function(type){ %>
                                <option <%if(saving.type === type.name) {%> selected <% }%> value="<%= type.id_types %>"><%= type.name %></option>
                                <% }) %>
                        </select>
                        <div class="select-icon">
                            <svg focusable="false" viewBox="0 0 104 128" width="20" height="30" class="icon">
                            <path d="m2e1 95a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm14 55h68v1e1h-68zm0-3e1h68v1e1h-68zm0-3e1h68v1e1h-68z"></path>
                            </svg>
                        </div>
                    </div>
                </div>


                <div class="add--form__group field mb-20">
                    <input
                    class="add--form__field"
                    type="input"
                    value="<%=saving.descritpion%>"
                    name="description"
                    />
                    <label for="description" class="add--form__label mb-20">Opis</label>
                </div>

                <div class="add--form__group field mb-20">
                    <input
                    class="add--form__field"
                    type="input"
                    value="<%=saving.price%>"
                    name="price"
                    />
                    <label for="price" class="add--form__label mb-20">Cena</label>
                </div>

                <div class="container-upload">
                    <div class="parent-div">
                        <button class="btn-upload">Wybierz Plik</button>
                        <input type="file" name="img_src" value="<%=saving.img_src%>"/>
                    </div>
                </div>

                <div class="card__btn">
                    <button type="submit" id="add-btn" class="btn btn--green mt-20">Dodaj</button> 
                </div>
            </form>
        </div>
      </div>
    </section>
  </main>
  <%- include('elements/footer'); -%>
  <script>
    function remove(element) {
        const id = element.getAttribute('data-id');
        fetch(`/add/${id}`, {method:'DELETE' })
        .then(response => response.statusText === 'OK' ? window.location.reload() : null);
    }
</script>
</body>

<