<body>
    <%- include('elements/header'); -%>
    <main>
                <a class="header-home" href="/">HOME</a></li>

  
        <section class="panel-main">
            
                <div class="panel-whole">
                  <table class="panelAdmin">
                      <tr class ="panelAdmin-tr"></tr>
                      <tr class ="panelAdmin-tr">
                          <td class ="panelAdmin-text">
                              <a class="panelAdmin-a">Typ</a>
                          </td>
                          <td class ="panelAdmin-text">
                              <a class="panelAdmin-a">Opis</a>
                          </td>
                          <td class ="panelAdmin-text">
                              <a class="panelAdmin-a">Zdjecie</a>
                          </td>
                          <td class ="panelAdmin-text">
                              <a class="panelAdmin-a">Cena</a>
                          </td>
                      </tr>
                  <% product.forEach(function(product) { %>
                      <tr class="panelAdmin-tr product-tr">
                        <form action="/adminShow" method="POST" enctype="multipart/form-data">
                            <input name="id_product" type="hidden" value="<%=product.id%>"/>
                            <input name="id_product" type="hidden" value="<%=product.id_clients%>"/>
                            <td contenteditable='true' class ="panelAdmin-text">
                                <a class="panelAdmin-a" name = "title">
                                    <input class="panelAdmin-input-register" name = "title" value="<%=product.title%>"/>
                                </a>
                            </td>
                            <td contenteditable='true' class="panelAdmin-td-register">
                                    <a class ="panelAdmin-a-register">Typ :
                                        <select class="panelAdmin-input-register" name="id_types" value="<%=product.id_types%>">
                                            <option></option>
                                            <% types.forEach(function(type){ %>
                                            
                                            <option <%if(product.id_types === type.id_types) {%> selected <% }%> value="<%= type.id_types %>"><%= type.name %></option>      
                                            <% }) %>
                                        </select>
                                        
                                    </a>
                                </td>
                            <td contenteditable='true' class ="panelAdmin-text">
                                <a class="panelAdmin-a" name = "description"><%=product.description%></a>
                            </td>
                            <td contenteditable='true' class ="panelAdmin-text">
                                <a class="panelAdmin-a" name = "price"><%=product.price%></a>
                            </td>
                            <td contenteditable='true' class ="panelAdmin-text">
                                <a class="panelAdmin-a" type="file" name="img_src"><%=product.img_src%></a>
                            </td>
                            <td class ="panelAdmin-text">
                                    <button type="button" onclick="remove(this)" data-id="<%=product.id_product%>" class="panelAdmin-button">Usuń</button>
                            </td>
                            <td class ="panelAdmin-text">
                                    <button type="button" onclick="edit(this)" data-id="<%=product.id_product%>" class="panelAdmin-button">Edytuj</button>
                            </td>
                        </form>
                    </tr>

                    
                    <% }) %>
                  </div>  

            <div class="panelAdmin-insert">
                <form method="POST" action="/adminShow" enctype="multipart/form-data">
                    <input name="id_product" type="hidden" value="<%=saving.id%>"/>
                    <table class="panelAdmin">
                        <tr class="panelAdmin-tr-register">
                            <td class="panelAdmin-td-register">
                                <a class ="panelAdmin-a-register">Tytuł :
                                    <input class="panelAdmin-input-register" name="title" value="<%=saving.title%>"/>
                                </a>
                            </td>
                            <td class="panelAdmin-td-register">
                                <a class ="panelAdmin-a-register">Typ :
                                    <select class="panelAdmin-input-register" name="id_types" value="<%=saving.type%>">
                                        <option></option>
                                        <% types.forEach(function(type){ %>
                                        <option <%if(saving.type === type.name) {%> selected <% }%> value="<%= type.id_types %>"><%= type.name %></option>
                                        <% }) %>
                                    </select>
                                </a>
                            </td>
                            <td class="panelAdmin-td-register">
                                <a class ="panelAdmin-a-register">Opis :
                                    <input class="panelAdmin-input-register" name = "description" value="<%=saving.description%>">
                                </a>
                            </td>

                            </td>
                            <td class="panelAdmin-td-register">
                                <a class ="panelAdmin-a-register">Cena :
                                    <input class="panelAdmin-input-register" type="number" name = "price" min="1" step="any" value="<%=saving.price%>"/>
                                </a> 
                            </td>

                            <td class="panelAdmin-td-register">
                                <a class ="panelAdmin-a-register">Zdjęcie:
                                    <input class="panelAdmin-input-register" type="file" name="img_src" value="<%=saving.img_src%>"/>
                                </a> 
                            </td>
                            <td class="panelAdmin-td-register ">
                                <button type="submit" id="add-btn" class="panelAdmin-button mt-20"><%if(saving.id) { %>Edytuj<%}else{%>Dodaj<%}%></button>
                                <a href="/adminShow"><button class="panelAdmin-button mt-20">Wyczyść</button></a>
                            </td>
                        </tr>
                    </table>   
                </form>
            </div>
        </section>           
    </main>
 
    <%- include('elements/footer'); -%>

    <script>
        function remove(element) {
            const id = element.getAttribute('data-id');
            fetch(`/adminShow/${id}`, {method:'DELETE' })
            .then(response => response.statusText === 'OK' ? window.location.reload() : null);
        }
    </script>
</body>