<body>
    <%- include('elements/header'); -%>
    <main>
                <a class="header-home" href="/">HOME</a></li>

  
        <section class="panel-main">
            
                <div class="panel-whole">
                  <table class="panelAdmin">
                      <tr class ="panelAdmin-tr"></tr>
                      <tr class ="panelAdmin-tr">
                          <td class ="panelAdmin-text">
                              <a class="panelAdmin-a">Tytuł</a>
                          </td>
                          <td class ="panelAdmin-text">
                              <a class="panelAdmin-a">Typ</a>
                          </td>
                          <td class ="panelAdmin-text">
                              <a class="panelAdmin-a">Opis</a>
                          </td>
                          <td class ="panelAdmin-text">
                              <a class="panelAdmin-a">Cena</a>
                          </td>
                          <td class ="panelAdmin-text">
                            <a class="panelAdmin-a">Zdjęcie</a>
                        </td>
                      </tr>
                  <% product.forEach(function(product) { %>
                      <tr class="panelAdmin-tr product-tr">
                        <form action="/adminShow" method="POST" enctype="multipart/form-data">
                            <input name="id_product" type="hidden" value="<%-product.id%>"/>
                            <input name="id_product" type="hidden" value="<%-product.id_clients%>"/>
                            <td contenteditable='true' class ="panelAdmin-text">
                                <a class="panelAdmin-a" name = "title">
                                    <input class="panelAdmin-input-register" name = "title" value="<%-product.title%>"/>
                                </a>
                            </td>
                            <td contenteditable='true' class="panelAdmin-td-register">
                                    <a class ="panelAdmin-a-register">
                                        <select class="panelAdmin-input-register" name="id_types" value="<%-product.id_types%>">
                                            <option></option>
                                            <% types.forEach(function(type){ %>
                                            
                                            <option <%if(product.id_types === type.id_types) {%> selected <% }%> value="<%-type.id_types %>"><%-type.name %></option>      
                                            <% }) %>
                                        </select>
                                        
                                    </a>
                                </td>
                            <td contenteditable='true' class ="panelAdmin-text">
                                <a class="panelAdmin-a" name = "description">
                                    <input class="panelAdmin-input-register" name = "title" value="<%-product.description%>"/>
                                </a>
                                
                            </td>
                            <td contenteditable='true' class ="panelAdmin-text">
                                <a class="panelAdmin-a" name = "price">
                                    <input class="panelAdmin-input-register" type="number" name = "title" value="<%-product.price%>"/>
                                </a>
                            </td>
                            <td contenteditable='true' class ="panelAdmin-text">
                                <a class="panelAdmin-a" name="img_src">
                                    <input class="panelAdmin-input-register" type="file" name = "title" value="<%-product.img_src%>"/>
                                </a>
                            </td>
                            <td class ="panelAdmin-text">
                                    <button type="button" onclick="remove(this)" data-id="<%-product.id_product%>" class="panelAdmin-button">Usuń</button>
                            </td>
                            <td class ="panelAdmin-text">
                                    <button class="panelAdmin-button" type="submit" id="edit-btn" >Edytuj</button>
                            </td>
                        </form>
                    </tr>

                    
                    <% }) %>
                  </div>  
        </section>           
    </main>
 
    <%- include('elements/footer'); -%>

    <script>
        function remove(element) {
            const id = element.getAttribute('data-id');
            fetch(`/adminShow/${id}`, {method:'DELETE' })
            .then(response => response.statusText === 'OK' ? window.location.reload() : null);
        }
    </script>
</body>