<body>
  <%- include('elements/header'); -%>
  <main>
    <section class="section-game">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary"><%=product.title%></h2>
      </div>

      <div class="row mt-70">
        <div class="col-1-of-2 u-center-text">
          <h1 class="paragraph"><%=product.author%></h1>

          <h1 class="paragraph"><%=types.name%></h1>

          <p class="paragraph"><%=product.description%></p>
          <h1 class="paragraph">
            <%=product.date_publishment?.toLocaleString()%>
          </h1>

          <h1 class="paragraph">Do <%=product.players%> price</h1>

          <h1 class="paragraph">Do <%=clients.phone_number%> price</h1>
        </div>
        <div class="col-1-of-2">
          <div class="composition">
            <img
              srcset="
                /img/upload/<%=product.img_src%>  300w,
                /img/upload/<%=product.img_src%> 1000w
              "
              sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
              alt="Photo 1"
              class="composition__product composition__product--p1"
              src="/img/upload/<%=product.img_src%>"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('elements/footer'); -%>
</body>
