<body>
  <main>
    <%- include('elements/header'); -%>
    <section class="section-games" id="section-games">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary"><%products.type%>dsa</h2>
      </div>

      <div class="row mt-70">
        <% products.forEach(function(product) { %>
        <div class="col-1-of-4 mb-130">
          <div class="card">
            <div class="card__side">
              <div class="card__picture">
                <a class="">
                  <img
                    src="/img/upload/<%=product.img_src%>"
                    alt="Picture Of Game"
                    class="card__picture"
                /></a>
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3"
                  ><%=product.title%></span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li><%=product.description.substring(0,70)%>...</li>

                  <li>
                    <p class="card__price-value"><%=product.price%> zł</p>
                  </li>
                </ul>
              </div>
              <div class="card__btn">
                <a
                  href="/product/<%=product.id_product%>"
                  class="btn btn--white"
                  >Kup teraz</a
                >
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    <%- include('elements/footer'); -%>
  </main>
</body>
